PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=seven_floor

# Email Settings
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=seventhfloor.md@gmail.com
SMTP_PASS=xvlf qvhw uagu ndwj
SMTP_SECURE=true
COMPANY_EMAIL=seventhfloor.md@gmail.com

